<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" type="text/css" rel="stylesheet"/>
    <link href="@Url.Content("~/assets/site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()

    @if (Context.IsDebuggingEnabled)
    {
        <script src="http://localhost:8001/vogue-client.js"></script>
    }
    
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-13271815-1");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>
</body>
</html>
